<!-- app/views/ceramic_pieces/new.html.erb -->

<h1>Ceramic Calculator</h1>
<h3>Please enter the specific infos requested below!</h3>

<%= render 'form', ceramic_piece: @ceramic_piece %>

<%= link_to 'Back', root_path %>
